/*==Style cơ bản cho website==*/
/* recommit --*/
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.254em;
    margin: 0;
    padding: 0;
    background-color:  #c5fade;
}
a {
    text-decoration: none;
    color: #3B8BBA;
}
a:hover,
a:visited {
    color: #265778;
}


/*==Lên khung cho website==*/
#container {
    position: relative;
    padding-left: 20px;
    /* padding-right: 200px; */
    width: 100%;
    left: 0;
}
#menu {
    position: fixed;
    height: 100%;
    background-color: #191818;
    width: 150px;
    left: 0;
}

/*==Trang trí menu==*/
#menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#menu ul li {
    line-height: 2.9em;
    height: 2.9em;
}
#menu li a {
    display: block;
    color: #fff;
    padding: 0 1em;
    border-bottom: 1px solid #333;
}
#menu li:hover {
    background-color: #454545;
}

/*==Trang trí khung content==*/
#content {
  padding: 1em 8em;
}
#header,
.call-to-action {
    text-align: center;
}

/*==Trang trí header của content==*/
#slogan {
    /* margin-right: 50%; */
    /* color: #ff050d;
    font-size: 2em; */
    margin-top: 10px;
    margin-bottom: 10px;
}

/*==Call to Action==*/
.call-to-action {
    padding: 1.5em 20%;
    background: #EFEFEF;
    border: 1px solid#E8E8E8;
}

/*==Chia cột phần content==*/
.row {
    overflow: auto;
    /* margin: 1.5em auto; */
    /* margin-left: 1.5em auto; */
}
.row .col {
    float: left;
    /* width: 40%; */
   margin-right: 2.99%;
    /* margin-right: 10%; */
}
/* .row .col:last-child {
    float: right;
    margin-right: 0;
} */

/* Style cho ảnh */
.row .col img {
    float: left;
    margin-right: 1em;
    width: 50px;
    height: 50px;
}

/*==Footer==*/
#footer {
  font-size: 85%;
  border-top: 1px solid #E6E6E6;
  color: #838383;
  padding: 1em 3em;
}/*==Style cơ bản cho website==*/
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#listMessage{height: 446px; background-color: white; margin: 2px;}
#left{width: 25%; height: 450px; float: left;}
#right{width: 55%; height: 450px; float: right; background-color: black; margin-right: 20%;}

/* body {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.254em;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #3B8BBA;
}
a:hover,
a:visited {
    color: #265778;
} */


/*==Lên khung cho website==*/
/* #container {
    position: relative;
    padding-left: 200px;
    padding-right: 200px;
    left: 0;
    width: 100%;
} */
/* #menu {
    position: fixed;
    height: 100%;
    background-color: #191818;
    width: 150px;
    left: 0;
} */

/*==Trang trí menu==*/
/* #menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#menu ul li {
    line-height: 2.9em;
    height: 2.9em;
}
#menu li a {
    display: block;
    color: #fff;
    padding: 0 1em;
    border-bottom: 1px solid #333;
}
#menu li:hover {
    background-color: #454545;
} */

/*==Trang trí khung content==*/
/* #content {
  padding: 1em 8em;
}
#header,
.call-to-action {
    text-align: center;
} */

/*==Trang trí header của content==*/
/* #slogan {
    color: #8997A0;
    font-size: 0.8em;
} */

/*==Call to Action==*/
/* .call-to-action {
    padding: 1.5em 20%;
    background: #EFEFEF;
    border: 1px solid#E8E8E8;
} */

/*==Chia cột phần content==*/
/* .row {
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    margin: 1.5em auto;
}
.row .col {
    float: left;
    width: 31.3333%;
    margin-right: 2.99%;
} */
/* .row .col:last-child {
    float: right;
    margin-right: 0;
} */
/* Style cho ảnh */
/* .row .col img {
    float: left;
    margin-right: 1em;
} */

/*==Footer==*/
/* #footer {
  font-size: 85%;
  border-top: 1px solid #E6E6E6;
  color: #838383;
  padding: 1em 3em;
} */
input[type="checkbox"]{
    margin-top: 20px;
    width: 20px; /*Desired width*/
    height: 20px; /*Desired height*/
}

input[type="checkbox"]:disabled{
    background-color: #000000;
}
