<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="/socket.io/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link type="text/css" rel="stylesheet" href="style.css" />
<link type="text/css" rel="stylesheet" href="normalize.css" />
<script>
    //var socket = io.connect('http://192.168.43.44:3000/');
    //var socket = io.connect('http://192.168.137.146:3000/');
    var socket = io('https://meshlockdoor.herokuapp.com');
    socket.on("Sign_Up_Successfully",function()
    {
        window.location.href = './login';
    })
     socket.on("Sign_Up_fail",function()
    {
        alert("Register Fail!");
        window.location.href = './register';
    })
    $(document).ready(function(){
        var serverCheck = {
            "type": "register",
            "username": {},
            "cookie": {}
        }
        socket.emit("from",serverCheck);
        $('#submitbtn').on('click', function () {
            if ($('#password').val() === $('#repeat_password').val()) {
                socket.emit("Sign_Up",{"username":$('#username').val(),"password":$('#password').val()});
                alert("Submit Register")
            }
            else{
                alert("Password isn't match! Enter again!");
                $("form")[0].reset();
                $(".container").reset();
            }
            
            return false;
        });
    });
</script>

<style>
* {
    box-sizing: border-box;
}
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 10px 0 40px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
/* Set a style for the submit button */
.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.registerbtn:hover {
    opacity: 1;
}
/* Add a blue text color to links */
a {
    color: dodgerblue;
}
/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}
</style>
</head>
<body>

<form>
  <div class="container">
    <h1>Register</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label for="username"><b>UserName</b></label>
    <input id = "username" type="text" placeholder="Enter User Name" name="User Name" required>

    <label for="psw"><b>Password</b></label>
    <input id="password" type="password" placeholder="Enter Password" name="psw" required>

    <label for="psw-repeat"><b>Repeat Password</b></label>
    <input id="repeat_password" type="password" placeholder="Repeat Password" name="psw-repeat" required>
    <hr>
    <button id="submitbtn" type="submit" class="registerbtn">Register</button>
  </div>
  
  <div class="container signin">
    <p>Already have an account? <a href="./login.html">Sign in</a>.</p>
  </div>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>